.form-field {
  font-size: var(--font-size);
  font-family: Caveat;
  width: 100%;
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: var(--spacing-medium);
  }

  label {
    display: block;
    padding: var(--spacing) 0;
  }

  input,
  textarea {
    width: inherit;
    padding: 0 var(--spacing);
    margin: 0;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--input-background);
    color: var(--input-color);
    font-family: "Gamja Flower";
    transition: background 330ms linear, color 330ms linear;

    &.ng-invalid:not(.ng-untouched) {
      border: 1px solid red;
    }

    &.ng-untouched ~ .error {
      display: none;
    }

    &.price-input {
      width: 50%;

      & + span {
        display: block;
        margin-left: var(--spacing);
      }
    }
  }

  textarea {
    resize: none;
  }

  label > span:last-of-type {
    color: red;
  }

  .error {
    font-size: 1.3rem;
    margin-top: 0.4rem;
  }
}

[type="submit"] {
  margin-top: var(--spacing-big);

  &[disabled] {
    opacity: 0.5;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form,
.fieldset-content {
  > p {
    font-family: "Gamja Flower";
    font-size: 1.1rem;
    align-self: flex-start;
  }
}

.error {
  li {
    margin-left: var(--spacing-big);
    position: relative;

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #000;
      position: absolute;
      top: 50%;
      left: -8px;
      transform: translate(-50%, -50%);
    }
  }
}

.search-top-text {
  font-size: var(--font-size-very-small);
  margin: var(--spacing);
  font-family: "Gamja Flower";

  ul {
    list-style: initial;

    li {
      margin-left: var(--spacing-big);
    }
  }

  .brand {
    color: var(--ng-select-criterium-brand);
  }
  .color {
    color: var(--ng-select-criterium-color);
  }
  .feature {
    color: var(--ng-select-criterium-feature);
  }
  .category {
    color: var(--ng-select-criterium-category);
  }
  .keyword {
    color: var(--ng-select-criterium-keywords);
  }
}

form {
  .fieldset[role="group"] {
    font-size: var(--font-size);
    font-family: Caveat;
    width: 100%;
    margin-top: var(--spacing-medium);
    border-radius: 8px;
    position: relative;
    overflow: hidden;

    &.open {
      overflow: visible;
    }

    > .legend-wrapper {
      position: relative;
      border-radius: inherit;

      button {
        position: absolute;
        top: 50%;
        right: var(--spacing);
        transform: translateY(-50%);
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        border: none;
        border-radius: 50%;
        background: transparent;
        width: 32px;
        height: 32px;
        transition: all 330ms linear;
        padding: 0;
        opacity: 0.7;

        &:focus {
          outline: none;
          opacity: 1;
        }

        .arrow-toggle-icon {
          &::before,
          &::after {
            background: var(--fieldset-legend-icon);
          }
        }
      }

      > .legend {
        padding: var(--spacing);
        display: flex;
        align-items: center;
        background: var(--fieldset-legend);
        color: var(--fieldset-legend-text);
        border-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: all 330ms linear;
      }
    }

    .fieldset-content {
      padding: var(--spacing);
      box-sizing: border-box;
    }

    > .fieldset-container {
      box-sizing: border-box;
      position: relative;
      border-radius: inherit;
      overflow: hidden;

      &.open {
        overflow: visible;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--fieldset-background);
        border-radius: inherit;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        opacity: 0.3;
        transition: all 330ms linear;
      }
    }
  }
}
