.main-menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;

  &.modal .dialog-content {
    top: 36px;
    transform: translateX(-50%);
    width: 91vw;
    height: 165vw;
  }

  .dialog-content {
    > svg {
      position: absolute;
      width: 100%;
    }

    .menu-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
    }

    .theme-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 108px;

      li {
        &:not(:last-of-type) {
          margin-right: var(--spacing-medium);
        }
      }
    }

    [app-button] {
      width: 188px;
    }
  }
}
