:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

form {
  padding-bottom: 200px;
  width: 290px;
  margin-top: 140px;
}

button:not([type="submit"]) {
  width: 100%;
  margin-bottom: var(--spacing-big);

  &.section-btn {
    min-height: 49px;
    background: var(--coord-section-btn);

    .img-container {
      width: 55px;
      height: 55px;
      position: absolute;
      top: 0;
      border-radius: 50%;
      overflow: hidden;
      z-index: 1;
      background: rgb(236, 236, 236);
      border: 2px solid var(--coord-section-btn);
      box-sizing: border-box;

      img {
        width: inherit;
        height: auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.empty {
    background: var(--button-empty);
    font-size: var(--font-size-very-small);
  }

  .btn-content {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }

  .icons {
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;

    img {
      width: 60px;
      height: auto;
      position: absolute;

      &.icon1 {
        opacity: 0.55;
      }
      &.icon2 {
        opacity: 0.35;
      }
    }
  }

  &.headdress {
    .icons {
      img {
        &.icon1 {
          width: 60px;
          top: -6px;
          right: 9px;
        }
        &.icon2 {
          top: 24px;
          right: -6px;
          width: 42px;
        }
      }
    }
  }
  &.hairstyle {
    .icons {
      img {
        &.icon1 {
          width: 52px;
          top: 7px;
          left: -7px;
        }
        &.icon2 {
          top: -9px;
          left: 40px;
          width: 42px;
        }
      }
    }
  }
  &.main_piece {
    margin-top: 130px;
    .icons {
      img {
        &.icon1 {
          width: 52px;
          top: 3px;
          right: -9px;
        }
        &.icon2 {
          top: 3px;
          left: -9px;
          width: 52px;
          opacity: 0.55;
        }
      }
    }
  }
  &.topwear {
    .icons {
      img {
        &.icon1 {
          width: 52px;
          top: 4px;
          right: -12px;
        }
        &.icon2 {
          top: 14px;
          right: 26px;
          width: 42px;
        }
      }
    }
  }
  &.outerwear {
    .icons {
      img {
        &.icon1 {
          width: 52px;
          top: 7px;
          left: -7px;
        }
        &.icon2 {
          top: -9px;
          left: 40px;
          width: 42px;
        }
      }
    }
  }
  &.bag {
    .icons {
      img {
        &.icon1 {
          width: 40px;
          top: -6px;
          right: -6px;
        }
        &.icon2 {
          top: 20px;
          right: 15px;
          width: 42px;
        }
      }
    }
  }
  &.accessories {
    .icons {
      img {
        &.icon1 {
          width: 52px;
          top: 7px;
          left: -7px;
        }
        &.icon2 {
          top: -9px;
          left: 40px;
          width: 42px;
          opacity: 0.7;
        }
        &.icon3 {
          top: 26px;
          left: 28px;
          width: 28px;
          opacity: 0.35;
        }
      }
    }
  }
  &.legwear {
    .icons {
      img {
        &.icon1 {
          width: 39px;
          top: 0px;
          right: -3px;
        }
        &.icon2 {
          top: 14px;
          right: 21px;
          width: 42px;
        }
      }
    }
  }
  &.shoes {
    .icons {
      img {
        &.icon1 {
          width: 52px;
          top: 7px;
          left: -7px;
        }
        &.icon2 {
          top: -9px;
          left: 40px;
          width: 42px;
        }
      }
    }
  }
  &.underwear {
    .icons {
      img {
        &.icon1 {
          width: 60px;
          top: -6px;
          right: 9px;
        }
        &.icon2 {
          top: 24px;
          right: -6px;
          width: 42px;
        }
      }
    }
  }

  &.headdress,
  &.topwear,
  &.bag,
  &.legwear,
  &.underwear {
    .img-container {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
    }
    .btn-content {
      padding-left: var(--spacing-big);
      padding-right: var(--spacing-medium);
    }
  }

  &.hairstyle,
  &.outerwear,
  &.accessories,
  &.shoes,
  &.others {
    .img-container {
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
    }
    .btn-content {
      padding-right: var(--spacing-big);
      padding-left: var(--spacing-medium);
    }
  }

  &.main_piece {
    .img-container {
      width: 190px;
      height: 190px;
      transform: translate(-50%, -80%);
      top: 0;
      left: 50%;
      z-index: -1;
    }
  }
}

.items {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;

  .item {
    border: none;
  }

  .img-container {
    position: relative;
    height: 90px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      transition: all 330ms linear;
      border-radius: 16px;
      box-sizing: border-box;
      border: 2px solid transparent;
    }
  }

  input:checked + .img-container::after {
    background: rgba(var(--primary-rgb), 0.5);
    border: 2px solid var(--primary-shadow);
  }
}

button[type="submit"] {
  position: fixed;
  z-index: 1004;
  bottom: var(--spacing-medium);
  right: var(--spacing-medium);

  svg {
    width: 36px;
    height: 36px;
  }
}

.top-title {
  svg {
    display: block;
    position: relative;
    top: 1px;
  }

  .inputs-wrapper {
    background: var(--coord-top-title);
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Gamja Flower";
    font-size: var(--font-size-very-small);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: var(--app-button-primary-text-color);
  }
}

button.memo {
  background: var(--coord-memo);
  position: relative;
  border-radius: 16px;
  min-height: 100px;
  margin-top: var(--spacing-big);
  display: flex;
  padding: var(--spacing-medium) var(--spacing-medium);
  color: var(--app-button-primary-text-color);

  .memo-value {
    font-family: "Gamja Flower";
    font-size: var(--font-size-very-small);
    white-space: pre-wrap;
    display: block;
    text-align: left;
  }

  &.empty {
    background: var(--button-empty);
  }
}

.memo-icon {
  width: 42px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

label {
  color: var(--primary-text);
}
