:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

form {
  padding-bottom: 200px;
  width: 290px;
  margin-top: 140px;
}

button:not([type="submit"]) {
  width: 100%;
  margin-bottom: var(--spacing-big);

  &.empty {
    background: var(--button-empty);
    font-size: var(--font-size-very-small);
  }

  .btn-content {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;

    &.multiple {
      width: 100%;
      display: flex;
      flex-direction: column;

      span {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;

        &.customText {
          font-size: var(--font-size-extra-small);
        }
      }
    }
  }

  .icons {
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;

    img {
      width: 60px;
      height: auto;
      position: absolute;

      &.icon1 {
        opacity: 0.55;
      }
      &.icon2 {
        opacity: 0.35;
      }
    }
  }
}

.items {
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;

  .item {
    border: none;
  }

  .img-container {
    position: relative;
    height: 90px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      transition: all 330ms linear;
      border-radius: 16px;
      box-sizing: border-box;
      border: 2px solid transparent;
    }
  }

  input:checked + .img-container::after {
    background: rgba(var(--primary-rgb), 0.5);
    border: 2px solid var(--primary-shadow);
  }
}

button[type="submit"] {
  position: fixed;
  z-index: 1004;
  bottom: var(--spacing-medium);
  right: var(--spacing-medium);

  svg {
    width: 36px;
    height: 36px;
  }
}

.top-title {
  svg {
    display: block;
    position: relative;
    top: 1px;
  }

  .inputs-wrapper {
    background: var(--coord-top-title);
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Gamja Flower";
    font-size: var(--font-size-very-small);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: var(--app-button-text);
  }
}

button.memo {
  background: var(--coord-memo);
  position: relative;
  border-radius: 16px;
  min-height: 100px;
  margin-top: var(--spacing-big);
  display: flex;
  padding: var(--spacing-medium) var(--spacing-medium);
  color: var(--app-button-text);

  .memo-value {
    font-family: "Gamja Flower";
    font-size: var(--font-size-very-small);
    white-space: pre-wrap;
    display: block;
    text-align: left;
  }

  &.empty {
    background: var(--button-empty);
  }
}

.memo-icon {
  width: 42px;
  height: 47px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

label {
  color: var(--primary-text);
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Caveat;
  color: var(--primary-text);

  span {
    margin-right: var(--spacing);
  }
}
