<form [formGroup]="form">
  <details class="right">
    <summary>
      <span class="visualy-hidden">{{ 'COORDINATION.DETAILS.HOW_TO' | translate }}</span>
      <span class="help-icon" aria-hidden="true">?</span>
    </summary>
    <div class="details-content">
      <p [innerHTML]="'COORDINATION.HELPS.USEFUL' | translate"></p>
    </div>
  </details>
  <ng-container *ngFor="let control of fieldsControl.value">
    <button app-button color="primary" class="no-shadow small empty" [ngClass]="control.value.type" (click)="edit(control)">
      <span class="btn-content kaomoji">( ･ั﹏･ั)・・・</span>
      <ng-container *ngTemplateOutlet="icons; context: { $implicit: control.value.type }"></ng-container>
    </button>
  </ng-container>
</form>

<ng-template #icons let-type>
  <div class="icons" [ngSwitch]="type">
    <ng-container *ngSwitchCase="CoordinationFieldTypes.HEADDRESS">
      <img class="icon1" src="/assets/images/headdress1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/headdress2.svg" alt="" aria-hidden="true">
    </ng-container>
    <ng-container *ngSwitchCase="CoordinationFieldTypes.HAIRSTYLE">
      <img class="icon1" src="/assets/images/hair1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/hair2.svg" alt="" aria-hidden="true">
    </ng-container>
    <ng-container *ngSwitchCase="CoordinationFieldTypes.MAIN_PIECE">
      <img class="icon1" src="/assets/images/mainpiece1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/mainpiece2.svg" alt="" aria-hidden="true">
    </ng-container>
    <ng-container *ngSwitchCase="CoordinationFieldTypes.TOPWEAR">
      <img class="icon1" src="/assets/images/topwear1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/topwear2.svg" alt="" aria-hidden="true">
    </ng-container>
    <ng-container *ngSwitchCase="CoordinationFieldTypes.OUTERWEAR">
      <img class="icon1" src="/assets/images/outerwear1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/outerwear2.svg" alt="" aria-hidden="true">
    </ng-container>
    <ng-container *ngSwitchCase="CoordinationFieldTypes.BAG">
      <img class="icon1" src="/assets/images/bag1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/bag2.svg" alt="" aria-hidden="true">
    </ng-container>
    <ng-container *ngSwitchCase="CoordinationFieldTypes.ACCESSORIES">
      <img class="icon1" src="/assets/images/accessories1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/accessories2.svg" alt="" aria-hidden="true">
      <img class="icon3" src="/assets/images/accessories3.svg" alt="" aria-hidden="true">
    </ng-container>
    <ng-container *ngSwitchCase="CoordinationFieldTypes.LEGWEAR">
      <img class="icon1" src="/assets/images/socks1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/socks2.svg" alt="" aria-hidden="true">
    </ng-container>
    <ng-container *ngSwitchCase="CoordinationFieldTypes.SHOES">
      <img class="icon1" src="/assets/images/shoes1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/shoes2.svg" alt="" aria-hidden="true">
    </ng-container>
    <ng-container *ngSwitchCase="CoordinationFieldTypes.UNDERWEAR">
      <img class="icon1" src="/assets/images/underwear1.svg" alt="" aria-hidden="true">
      <img class="icon2" src="/assets/images/underwear2.svg" alt="" aria-hidden="true">
    </ng-container>
  </div>
</ng-template>

<ng-template #modal let-ref let-data="data">
  <div class="dialog-inner-container">
    <div class="deco-wrapper">
      <svg class="deco top right r45" aria-hidden="true">
        <use xlink:href="#modal-deco-1" />
      </svg>
      <svg class="deco top left-middle small" aria-hidden="true">
        <use xlink:href="#modal-deco-1" />
      </svg>
      <svg class="deco top-1 left small" aria-hidden="true">
        <use xlink:href="#modal-deco-1" />
      </svg>
      <svg class="deco top-2-5 right small" aria-hidden="true">
        <use xlink:href="#modal-deco-1" />
      </svg>
      <svg class="deco bottom left medium" aria-hidden="true">
        <use xlink:href="#modal-deco-1" />
      </svg>
      <svg class="deco bottom-2-5 left small" aria-hidden="true">
        <use xlink:href="#modal-deco-1" />
      </svg>
      <svg class="deco bottom right-middle small" aria-hidden="true">
        <use xlink:href="#modal-deco-1" />
      </svg>
      <svg class="deco top left medium r45" aria-hidden="true">
        <use xlink:href="#modal-deco-2" />
      </svg>
      <svg class="deco top-2-5 left small" aria-hidden="true">
        <use xlink:href="#modal-deco-2" />
      </svg>
      <svg class="deco top-middle right medium" aria-hidden="true">
        <use xlink:href="#modal-deco-2" />
      </svg>
      <svg class="deco bottom middle" aria-hidden="true">
        <use xlink:href="#modal-deco-2" />
      </svg>
      <svg class="deco top middle" aria-hidden="true">
        <use xlink:href="#modal-deco-3" />
      </svg>
      <svg class="deco top right-middle small" aria-hidden="true">
        <use xlink:href="#modal-deco-3" />
      </svg>
      <svg class="deco top-1 right small" aria-hidden="true">
        <use xlink:href="#modal-deco-3" />
      </svg>
      <svg class="deco top-middle left r45 medium" aria-hidden="true">
        <use xlink:href="#modal-deco-3" />
      </svg>
      <svg class="deco bottom right r45 medium" aria-hidden="true">
        <use xlink:href="#modal-deco-3" />
      </svg>
      <svg class="deco bottom-1 right medium" aria-hidden="true">
        <use xlink:href="#modal-deco-3" />
      </svg>
      <svg class="deco bottom-2-5 right small" aria-hidden="true">
        <use xlink:href="#modal-deco-3" />
      </svg>
      <svg class="deco bottom left-middle small" aria-hidden="true">
        <use xlink:href="#modal-deco-3" />
      </svg>
      <svg class="deco bottom-1-5 left small" aria-hidden="true">
        <use xlink:href="#modal-deco-3" />
      </svg>
    </div>
    <div class="dialog-inner-content">
      <ng-container *ngTemplateOutlet="icons; context: { $implicit: data.control.value.type }"></ng-container>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto minima laudantium eligendi hic quidem neque recusandae officiis! Illo suscipit officia error animi aut?
      Repudiandae quas necessitatibus nemo ab fugiat placeat!
      <button app-button color="primary" (click)="ref.close()">Close</button>
    </div>
  </div>
</ng-template>