:root {
  --main-background-color: #fff0fe;

  --primary: #424242;
  --primary-text: #fff;
  --primary-shadow: #232323;

  --default: #424242;
  --default-text: #fff;
  --default-shadow: #232323;

  --username: #232323;

  // DECO
  --top-left-cloud: #424242;
  --top-left-cloud-shadow: #232323;
  --top-right-cloud: #424242;
  --top-right-cloud-shadow: #232323;

  --background-cloud: #424242;
  --background-cloud-shadow: #232323;

  --strip-1: 10px;
  --strip-1-color: #f7bff2;
  --strip-2: 15px;
  --strip-2-color: #cc85ff;
  --strip-3: 28px;
  --strip-3-color: #f7bff2;
  --strip-4: 34px;
  --strip-4-color: #fff0fe;
  --strip-5: 50px;
  --strip-5-color: #f7bff2;

  // BUTTON
  --app-button-primary: #424242;
  --app-button-primary-text-color: #eee;
  --app-button-primary-shadow: #232323;
  --app-button-accent: #424242;
  --app-button-accent-text-color: #eee;
  --app-button-accent-shadow: #232323;
  --app-button-default: #424242;
  --app-button-default-text-color: #eee;
  --app-button-default-shadow: #232323;
  --app-button-discreet: #999999;
  --app-button-discreet-text-color: #fff;
  --app-button-discreet-shadow: #2e2e2e;
  --app-button-theme: #eee;

  --menu-background: #424242;
  --menu-foreground: #232323;

  --title: #424242;
  --title-shadow: #232323;
  --title-text: #fff;

  --menu-dialog-bg: #555555;

  --dialog-backdrop: #000;

  --input-background: #cecece;
  --input-color: #000;

  --toast-error: #f19099;
  --toast-warning: #f7c894;
  --toast-success: #9ad2ce;
  --toast-info: #d7b8d9;
  --toast-error-shadow: #704347;
  --toast-warning-shadow: #68543d;
  --toast-success-shadow: #374d4b;
  --toast-info-shadow: #4c414d;

  --ng-select-criterium-brand: #e645b5;
  --ng-select-criterium-brand-text: #fff;
  --ng-select-criterium-category: #4780c5;
  --ng-select-criterium-category-text: #fff;
  --ng-select-criterium-feature: #28964f;
  --ng-select-criterium-feature-text: #fff;
  --ng-select-criterium-keywords: #8a8a8a;
  --ng-select-criterium-keywords-text: #fff;
  --ng-select-criterium-color: #9c65ce;
  --ng-select-criterium-color-text: #fff;
  --ng-select-default-color: #d1d1d1;
  --ng-select-default-color-text: #000;

  --fieldset-background: #cabdc9;
  --fieldset-legend: #000000;
  --fieldset-legend-text: #cabdc9;
  --fieldset-legend-icon: #cabdc9;

  --save-icon-1: #000;
  --save-icon-2: #fdf2f8;
  --save-icon-3: #fff;

  --item-actions: #ffffff;

  --item-header: #ffffff;
  --item-header-text: #000;

  --item-field-section-header: #424242;
  --item-field-section-header-text: #fff;
  --item-field-section: #c1c1c1;
}

body.theme-sweet {
  --main-background-color: #fff0fe;

  --primary: #f7bff2;
  --primary-shadow: #cc85ff;
  --primary-text: #000;
  --primary-rgb: 247, 192, 242;

  --username: #cc85ff;

  --accent: #92c8f4;
  --accent-text: #000000;
  --accent-shadow: #6396d3;

  --top-left-cloud: #92c8f4;
  --top-left-cloud-shadow: #6396d3;
  --top-right-cloud: #92c8f4;
  --top-right-cloud-shadow: #6396d3;

  --background-cloud: #92c8f4;
  --background-cloud-shadow: #6396d3;

  --strip-1-color: #f7bff2;
  --strip-2-color: #cc85ff;
  --strip-3-color: #f7bff2;
  --strip-4-color: #fff0fe;
  --strip-5-color: #f7bff2;

  // BUTTON
  --app-button-primary: #f7bff2;
  --app-button-primary-text-color: #000;
  --app-button-primary-shadow: #cc85ff;
  --app-button-accent: #92c8f4;
  --app-button-accent-text-color: #fff0fe;
  --app-button-accent-shadow: #6396d3;
  --app-button-default: #424242;
  --app-button-default-text-color: #eee;
  --app-button-default-shadow: #232323;
  --app-button-theme: #fff;

  --menu-background: #f7bff2;
  --menu-foreground: #cc85ff;

  --title: #f7bff2;
  --title-shadow: #cc85ff;
  --title-text: #000;

  --menu-dialog-bg: #f4edbe;
  --second-balloon: #92c8f4;
  --third-balloon: #f7bff2;

  --dialog-backdrop: #220935;

  --input-background: #ffffff;
  --input-color: #000;

  --details: #f7bff2;
  --details-shadow: #cc85ff;
  --details-text: #000;

  --fieldset-background: #e6d7e4;
  --fieldset-legend: #f7bff2;
  --fieldset-legend-text: #000;
  --fieldset-legend-icon: #242424;

  --save-icon-1: #6396d3;
  --save-icon-2: #fdf2f8;
  --save-icon-3: #cc85ff;
  --edit-icon-1: #5078aa;
  --edit-icon-2: #fdf2f8;
  --edit-icon-3: #cc85ff;
  --edit-icon-4: #6da3e6;

  --item-field-section-header: #f7bff2;
  --item-field-section-header-text: #000;
  --item-field-section: #e6d7e4;

  --cloud-symbol: #eacdff;
  --cloud-symbol-shadow: #cc85ff;

  .grayscale {
    --add-to-wishlist-1: #c0c0c0;
    --add-to-wishlist-2: #9e9e9e;
    --add-to-wishlist-3: #fff;
  }

  --button-empty: #ded8df;
  --coord-section-btn: #deb8ff;
  --coord-top-title: #e8cdff;
  --coord-memo: #e8cdff;

  --modal-deco: #ae78b1;
  --modal-deco-bg: #e4c3ff;

  --memo-1: #5d1fa0;
  --memo-2: #cc9cff;
  --memo-3: #b972f7;
  --memo-4: #af71ff;
}

body.theme-gothic {
  --main-background-color: #7b71a5;

  --primary: #322187;
  --primary-shadow: #000;
  --primary-text: #fff;
  --primary-rgb: 50, 33, 135;

  --username: #3f0670;

  --accent: #3f0670;
  --accent-text: #fff;
  --accent-shadow: #1c0638;

  --top-left-cloud: #3f0670;
  --top-left-cloud-shadow: #1c0638;
  --top-right-cloud: #3f0670;
  --top-right-cloud-shadow: #1c0638;

  --background-cloud: #fff;
  --background-cloud-shadow: #000;

  --strip-1-color: #000;
  --strip-2-color: #4500b2;
  --strip-3-color: #000;
  --strip-4-color: #0a0077;
  --strip-5-color: #000;

  // BUTTON
  --app-button-primary: #322187;
  --app-button-primary-text-color: #fff;
  --app-button-primary-shadow: #000;
  --app-button-accent: #3f0670;
  --app-button-accent-text-color: #fff0fe;
  --app-button-accent-shadow: #1c0638;
  --app-button-default: #424242;
  --app-button-default-text-color: #eee;
  --app-button-default-shadow: #232323;
  --app-button-discreet: #424242;
  --app-button-discreet-text-color: #fff;
  --app-button-discreet-shadow: #000000;

  --menu-background: #fdf2f8;
  --menu-foreground: #000;

  --title: #fdf2f8;
  --title-shadow: #000;
  --title-text: #000;

  --menu-dialog-bg: #938bbb;
  --second-balloon: #3f0670;
  --third-balloon: #cecece;

  --dialog-backdrop: #06013d;

  --input-background: #fff;
  --input-color: #000;

  --details: #3f0670;
  --details-shadow: #000;
  --details-text: #fff;

  --fieldset-background: #5d557c;
  --fieldset-legend: #322187;
  --fieldset-legend-text: #fff;
  --fieldset-legend-icon: #fff;

  --ng-select-default-color: #505050;

  --save-icon-1: #000;
  --save-icon-2: #fdf2f8;
  --save-icon-3: #0a0077;
  --edit-icon-1: #0a0077;
  --edit-icon-2: #fdf2f8;
  --edit-icon-3: #000;
  --edit-icon-4: #1c0cc9;

  --arabesque-top-shadow: #000;

  --item-field-section-header: #322187;
  --item-field-section-header-text: #fff;
  --item-field-section: #5d557c;
  --item-field-section-content-text: #fff;

  .grayscale {
    --add-to-closet-1: #242424;
    --add-to-closet-2: #3d3d3d;
    --add-to-wishlist-1: #232323;
    --add-to-wishlist-2: #000000;
    --add-to-wishlist-3: #fff;
  }

  --cloud-symbol: #e5d4ff;
  --cloud-symbol-shadow: #4500b2;

  --button-empty: #3d3d3d;
  --coord-section-btn: #140d38;
  --coord-top-title: #201a3f;
  --coord-memo: #201a3f;

  --modal-deco: #5d557c;
  --modal-deco-bg: #0e0927;

  --memo-1: #1c0cc9;
  --memo-2: #ece4e9;
  --memo-3: #110e33;
  --memo-4: #a6a0ff;
}

body.theme-classic {
  --main-background-color: #ffe2a9;

  --primary: #d32a09;
  --primary-shadow: #892806;
  --primary-text: #fff;
  --primary-rgb: 211, 42, 9;

  --username: #892806;

  --accent: #875533;
  --accent-text: #fff;
  --accent-shadow: #422a1a;

  --top-left-cloud: #e0c3b8;
  --top-left-cloud-shadow: #600202;
  --top-right-cloud: #e0c3b8;
  --top-right-cloud-shadow: #600202;

  --background-cloud: #efac25;
  --background-cloud-shadow: #600202;

  --strip-1-color: #b50000;
  --strip-2-color: #efac25;
  --strip-3-color: #b50000;
  --strip-4-color: #f9bbbb;
  --strip-5-color: #b50000;

  // BUTTON
  --app-button-primary: #d32a09;
  --app-button-primary-text-color: #fff;
  --app-button-primary-shadow: #892806;
  --app-button-accent: #875533;
  --app-button-accent-text-color: #fff0fe;
  --app-button-accent-shadow: #422a1a;
  --app-button-default: #424242;
  --app-button-default-text-color: #eee;
  --app-button-default-shadow: #232323;

  --menu-background: #edbe69;
  --menu-foreground: #b50000;

  --title: #edbe69;
  --title-shadow: #b50000;
  --title-text: #000;

  --menu-dialog-bg: #fdd4bd;
  --second-balloon: #e99f01;
  --third-balloon: #d32a09;

  --dialog-backdrop: #291a10;

  --input-background: #fff;
  --input-color: #000;

  --details: #edbe69;
  --details-shadow: #d32a09;
  --details-text: #000;

  --fieldset-background: #c4ae83;
  --fieldset-legend: #d32a09;
  --fieldset-legend-text: #fff;
  --fieldset-legend-icon: #fff;

  --save-icon-1: #422a1a;
  --save-icon-2: #fdf2f8;
  --save-icon-3: #d32a09;
  --edit-icon-1: #422a1a;
  --edit-icon-2: #fdf2f8;
  --edit-icon-3: #d32a09;
  --edit-icon-4: #a36943;

  --item-field-section-header: #d32a09;
  --item-field-section-header-text: #fff;
  --item-field-section: #c4ae83;

  .grayscale {
    //   --add-to-closet-1: #ffffff;
    //   --add-to-closet-2: #d4d4d4;
    --add-to-wishlist-1: #c0c0c0;
    --add-to-wishlist-2: #7e7e7e;
    --add-to-wishlist-3: #fff;
  }

  --cloud-symbol: #ffe0d5;
  --cloud-symbol-shadow: #892806;

  --button-empty: #818181;
  --coord-section-btn: #892806;
  --coord-top-title: #a04828;
  --coord-memo: #a04828;

  --modal-deco: #633d3d;
  --modal-deco-bg: #c09d9d;

  --memo-1: #a04e1f;
  --memo-2: #ffab9c;
  --memo-3: #f78d72;
  --memo-4: #b91313;
}
