:root {
  --spacing: 8px;
  --spacing-medium: 16px;
  --spacing-small: 4px;
  --spacing-big: 32px;
  --spacing-bigger: 64px;

  --font-size: 1.8rem;
  --font-size-medium: 2rem;
  --font-size-big: 2.2rem;
  --font-size-small: 1.6rem;
  --font-size-very-small: 1.3rem;
}
