:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

p:not(.search-top-text) {
  font-family: Caveat;
  font-size: var(--font-size);
  margin-top: var(--spacing-medium);
}

app-search-form {
  width: 380px;
  margin-top: 155px;
}

.add-item {
  position: fixed;
  z-index: 1;
  right: var(--spacing-medium);
  bottom: var(--spacing-medium);
}
