<app-search-form (search)="search($event)" #searchForm="searchForm" [placeholder]="'SEARCH.FIELDS.PLACEHOLDER.CRITERIA' | translate">
  <details before>
    <summary>
      <span class="visualy-hidden">How to search</span>
      <span class="help-icon" aria-hidden="true">?</span>
    </summary>
    <div class="details-content">
      <p class="search-top-text" id="criteria-select-description" [innerHTML]="'SEARCH.TOP.TEXT' | translate"></p>
    </div>
  </details>
  <img src="/assets/images/search-icon.svg" alt="Search icon" aria-hidden="true" submit-icon>
</app-search-form>

<ng-container *ngIf="searchForm.selectedCriteria.length === 0 && results.length === 0; else resultTemplate">
  <p>Recently added items</p>
</ng-container>
<ng-template #resultTemplate>
  <section *ngIf="results.length > 0; else noResults" class="items">
    <article *ngFor="let item of results" class="item">
      <a [routerLink]="['/item', item._id]">
        <img [attr.src]="item | itemPhoto" alt="Item colorway photo">
      </a>
      <div class="actions" *ngIf="signedIn">
        <button app-button class="circle very-small no-shadow no-background" [tadaSize]="36" color="primary" appInCloset [item]="item" [variant]="item.variants[0]"
          #inCloset="inCloset">
          <span class="visualy-hidden">{{ 'ITEM.ACTIONS.ADD_TO_CLOSET' | translate }}</span>
          <svg [class.grayscale]="!inCloset.isIn">
            <use xlink:href="#add_to_closet" />
          </svg>
        </button>
        <button app-button class="circle very-small no-shadow no-background" [tadaSize]="36" color="primary" appInWishlist [item]="item" [variant]="item.variants[0]"
          #inWishlist="inWishlist">
          <span class="visualy-hidden">{{ 'ITEM.ACTIONS.ADD_TO_WISHLIST' | translate }}</span>
          <svg [class.grayscale]="!inWishlist.isIn">
            <use xlink:href="#add_to_wishlist" />
          </svg>
        </button>
      </div>
    </article>
  </section>
  <ng-template #noResults>
    <p>No results</p>
  </ng-template>
</ng-template>

<a [routerLink]="['/item', 'new']" app-button class="circle add-item" color="accent" *ngIf="signedIn">
  <span class="visualy-hidden">{{ 'SEARCH.ADD.LABEL' | translate }}</span>
  <span class="add-icon" aria-hidden="true"></span>
</a>
