main {
  z-index: 10;
  position: relative;

  &.menu-opened {
    height: 100vh;
    overflow: hidden;
  }
}

.tada-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 100;
}

#lace {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  height: 15px;
}

.toolbar {
  position: fixed;
  top: 16px;
  left: 22px;
  right: 22px;
  z-index: 11;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.back-title-wrapper {
  flex: 1;
  background: var(--title);
  box-shadow: 4px 3px 0 var(--title-shadow);
  border-radius: 30px;
  margin-right: var(--spacing);
  display: flex;
  color: var(--title-text);
}

h1 {
  margin: 0;
  padding: 5px;
  padding-left: var(--spacing-small);
  display: flex;
  color: inherit;
  font-size: var(--font-size-medium);
  font-family: Caveat;
}

[menu-button] {
  z-index: 12;
}
