nav {
  li {
    position: relative;
  }
  a {
    margin-bottom: var(--spacing-medium);
    width: 270px;
  }

  ul li:last-of-type a {
    margin-bottom: 0;
  }
}

#bunny {
  width: 112px;
  height: auto;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
}
