:host {
  position: absolute;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

nav {
  li {
    position: relative;
  }
  a {
    margin-bottom: var(--spacing-medium);
    width: 270px;
  }

  ul li:last-of-type a {
    margin-bottom: 0;
  }
}

#bunny {
  width: 112px;
  height: auto;
  margin: var(--spacing-big);
  margin-top: var(--spacing);
}

#bat {
  width: 180px;
  height: auto;
  margin: var(--spacing-big);
  margin-top: var(--spacing);
}

.deco-item {
  position: fixed;

  > img {
    width: inherit;
    height: auto;
  }

  &.item-1 {
    top: 23%;
    left: 3%;
    width: 68px;
  }
  &.item-2 {
    top: 67%;
    right: 5%;
    width: 68px;
  }
  &.item-3 {
    top: 21%;
    right: 3%;
    width: 68px;
  }
  &.item-4 {
    top: 84%;
    left: 5%;
    width: 68px;
  }

  &.sweet {
    &.item-1 {
      img {
        transform: rotate(10deg);
      }
    }
    &.item-2 {
      img {
        transform: rotate(-10deg);
      }
    }
  }
  &.gothic {
    &.item-2 {
      width: 80px;
    }
    &.item-3 {
      right: 4%;
      width: 74px;
    }
    &.item-4 {
      width: 87px;
    }
  }
}

#brand-logo {
  width: 142px;
  height: auto;
  display: block;
  margin: var(--spacing-big);
}

#brand-title {
  position: absolute;
  bottom: -14px;
  width: 195px;
  height: auto;
}
