:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

p {
  font-family: "Gamja Flower";
}

form {
  width: 290px;
  margin-top: 140px;
}

app-simple-loader {
  margin-left: var(--spacing-medium);
}
