:host {
  background-color: var(--app-button-default);
  box-shadow: 5px 4px 0 var(--app-button-default-shadow);
  color: var(--app-button-default-text-color);
  border-radius: 16px;
  display: flex;
  font-family: Caveat;
  font-weight: bold;
  font-size: var(--font-size);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  text-align: center;
  transition: background-color 330ms linear, box-shadow 330ms linear, color 330ms linear;
  border: none;

  &:focus {
    outline: none;
  }

  &:active {
    border: none;
  }

  .text-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing) var(--spacing-big);
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 0;
    opacity: 0.3;
    background-color: transparent;
    transition: all 220ms linear;
  }

  &.primary {
    background-color: var(--app-button-primary);
    box-shadow: 5px 4px 0 var(--app-button-primary-shadow);
    color: var(--app-button-primary-text-color);

    &:focus::before {
      background-color: var(--app-button-primary-shadow);
    }
  }

  &.accent {
    background-color: var(--app-button-accent);
    box-shadow: 5px 4px 0 var(--app-button-accent-shadow);
    color: var(--app-button-accent-text-color);

    &:focus::before {
      background-color: var(--app-button-accent-shadow);
    }
  }

  &[href] {
    &,
    &:visited,
    &:link {
      color: var(--app-button-default-text-color);
      text-decoration: none;

      &.primary {
        color: var(--app-button-primary-text-color);
      }
      &.accent {
        color: var(--app-button-accent-text-color);
      }
    }
  }
}
