@import "./styles/reset";
@import "./styles/variables";
@import "./styles/themes";
@import "./styles/layout";

@import "./styles/components/cloud";
@import "./styles/components/strip";
@import "./styles/components/dialog";
@import "./styles/components/menu";
@import "./styles/components/form";
@import "./styles/components/toastr";
@import "./styles/components/user";
@import "./styles/components/ng-select";
@import "./styles/components/icons";
@import "./styles/components/details";
@import "./styles/components/item";
@import "./styles/components/search";

body {
  transition: all 330ms linear;
  background: var(--main-background-color);
  font-size: 10px;
  overscroll-behavior-y: none;
}

.visualy-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.kaomoji {
  font-family: sans-serif !important;
}

.text-center {
  text-align: center;
}

b {
  font-weight: bold;
}

.small-yes {
  height: 22px;
  width: 49px;
}
