<span class="tada" aria-hidden="true" [@tadaAnimation]="activate" [ngStyle]="tadaStyle" (@tadaAnimation.done)="onAnimationDone()">
  <span class="tada-item" [ngClass]="color"></span>
  <span class="tada-item" [ngClass]="color"></span>
  <span class="tada-item" [ngClass]="color"></span>
  <span class="tada-item" [ngClass]="color"></span>
  <span class="tada-item" [ngClass]="color"></span>
  <span class="tada-item" [ngClass]="color"></span>
  <span class="tada-item" [ngClass]="color"></span>
  <span class="tada-item" [ngClass]="color"></span>
</span>
